[Desktop Entry]
Comment=Memories of the IRIX desktop
Name=Irixium
X-KDE-PluginInfo-Author=Phob1an
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Name=Irixium
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
