[Desktop Entry]
Name=Irixium

X-KDE-PluginInfo-Name=Irixium
X-KDE-PluginInfo-Author=Mark Whittaker
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-License=CC BY-SA
