[Desktop Entry]
Comment=IRIX Classic user theme
Name=IRIX Classic
X-KDE-PluginInfo-Author=mrmmx31
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=org.magpie.irixclassic.desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-ServiceTypes=Plasma/LookAndFeel
