[Desktop Entry]
Comment=IRIX Classic Plasma Style
Name=IrixClassic
X-KDE-PluginInfo-Author=Phob1an
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Name=IrixClassic
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
