[Desktop Entry]
Comment=Domain/OS SR10.4 and HP VUE 2.01 adaptation for KDE
Name=IrixClassicDomainOS
X-KDE-PluginInfo-Author=mrmmx31
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-Name=org.magpie.irixclassic.domainos.desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-ServiceTypes=Plasma/LookAndFeel
